.treeTable-empty {
    width: 20px;
    display: inline-block;
}

.treeTable-icon {
    cursor: pointer;
}

.treeTable-icon .layui-icon-triangle-d:before {
    content: "\e68e";
}

.treeTable-icon.open .layui-icon-triangle-d:before {
    content: "\e7ae";
    background-color: transparent;
}

