<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.cms.mapper.ArticleMaaper">
<select id="getTotalPageNo" resultType="int">
SELECT COUNT(*) FROM t_article
<where>
cid=#{cid}
<if test="cname!=null">
AND title LIKE #{cname}
</if>
</where>
</select>

<select id="queryArticles" resultType="com.newer.cms.pojo.Article">
SELECT a.`aid`,a.`title`,a.`subhead`,a.`accessoryname`,a.`accessory`,a.`creattime`,a.`status`,a.`stick`,a.`author`,a.`aboutimg`,b.`eid` AS 'articletype.eid',b.`ename` AS 'articletype.ename' FROM t_article a LEFT JOIN t_articletype b ON a.`eid`=b.`eid`
<where>
cid=#{cid}
<if test="cname!=null">
AND title LIKE #{cname}
</if>
</where>
  LIMIT #{index},#{pageSize}
</select>



</mapper>