<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.cms.mapper.RoleControlMapper">

<select id="findPageRoleControls" resultMap="roleControls">
SELECT r.`rid`,r.`rname`,r.`duty`,r.`isusable`,c.`control_id`,c.`control_name` ,c.`control_explain`,c.`by1`,c.`by2`FROM t_role r
LEFT JOIN t_role_control t
ON t.`role_id`=r.`rid`
LEFT JOIN t_control c
ON c.`control_id`=t.`control_id`
ORDER BY rid
       LIMIT #{index},#{pageSize}
</select>
 
 <select id="finRoleControlByRid" resultMap="roleControls">
       SELECT r.`rid`,r.`rname`,r.`duty`,r.`isusable`,c.`control_id`,c.`control_name` ,c.`control_explain`,c.`by1`,c.`by2`FROM t_role r
LEFT JOIN t_role_control t
ON t.`role_id`=r.`rid`
LEFT JOIN t_control c
ON c.`control_id`=t.`control_id`
WHERE rid =#{rid}
 </select>
 
 <resultMap type="com.newer.cms.pojo.Role" id="roleControls">
  <id column="rid" property="rid"/>
  <result column="rname" property="rname"/>
  <result column="duty" property="duty"/>
  <result column="isusable" property="isusable"/>
 <collection property="controls" ofType="com.newer.cms.pojo.Control">
 <id column="control_id" property="controlId"/> 
 <result column="control_name" property="controlName"/>
 <result column="control_explain" property="controlExplain"/>
 <result column="by1" property="by1"/>
 <result column="by2" property="by2"/>
 </collection>
 </resultMap>
</mapper>