<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.cms.mapper.SiteMapper">
<select id="getTotalSite" resultType="java.lang.Integer">
SELECT COUNT(*) FROM 
(SELECT s.`tid`,s.`tname`,s.`tintro`,t.`uid` 
FROM t_site s LEFT JOIN t_site_user t ON s.`tid`=t.`tid`) a LEFT JOIN
t_user b ON a.uid=b.`uid` 
<where>
<if test="name!=null">
a.tname LIKE '%${name}%' OR b.`uname` LIKE '%${name}%'
</if>
</where>
</select>

<select id="getPageSiteUser" resultType="com.newer.cms.pojo.SiteUser">
SELECT a.tid AS 'site.tid',a.tname AS 'site.tname',a.tintro AS 'site.tintro',
b.`uid` AS 'user.uid',b.`uname` AS 'user.uname',b.`email` AS 'user.email' FROM 
(SELECT s.`tid`,s.`tname`,s.`tintro`,t.`uid` 
FROM t_site s LEFT JOIN t_site_user t ON s.`tid`=t.`tid`) a LEFT JOIN
t_user b ON a.uid=b.`uid` 
<where>
<if test="name!=null">
a.tname LIKE '%${name}%' OR b.`uname` LIKE '%${name}%'
</if>
</where>
LIMIT #{index},#{pageSize}
</select>
</mapper>